.inter-body-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  background-color: rgb(17, 17, 17);
}

#home {
  background-color: rgb(230, 83, 60);
  height: 30px;
  padding: 0.5em;
  width: 100%;
  display: flex;
  margin-top: -5px;
  border-radius: 4px;
}

#fit {
  background-color: rgb(230, 83, 60);
  padding: 0.5em;
  width: 100%;
  border-radius: 5px;
}

:root {
  --pothom-color: var(rgb(255, 255, 255) rgb(255, 255, 255) rgb(255, 255, 255));
  --seconde-color: var(rgba(255, 255, 255, 0.5));
  --box: var(rgb(230, 83, 60));
  --button: var(rgb(230, 83, 60));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#navbar {
  height: 50px;
  width: 100%;
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  padding: 1em;
  /* margin-left: 1px; */
}

@media (max-width: 576px) {
  #navbar {
    margin-left: 4px;
  }
}
#problem_nav {
  margin: 0 auto;
}

ul li {
  list-style: none;
}

b {
  color: white;
}

#nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: white;
}

#header {
  height: 430px;
  width: 100%;

  /* background-color: rgb(21, 21, 21); */
  background-image: linear-gradient(to bottom, #141414, #222222, #141414);
  margin:0 auto;
}

/* start banner section */

#banner_section {
  /* margin-top: -40px; */
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em;
  margin: 10px;
  /* border: 2px solid red; */
}

#banner_box_1 {
  height: 330px;
  width: 70%;
  color: white;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-content: left;
  flex-direction: column;
}

#banner_img {
  height: 350px;
  width: 50%;
  /* border: 2px solid red; */
  background-image: url("./images/Images\ 2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 1em;
  margin-right: -30px;
}

#banner_h2 {
  width: 80%;
  /* border: 2px solid yellow; */
  font-weight: 700;
  max-height: 450px;
  font-size: 3rem;
  color: var(--pothom-color);
}

#banner_button {
  height: 50px;
  width: 150px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: rgb(230, 83, 60);
  color: white;
}

#banner_button2 {
  height: 50px;
  width: 150px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid;
  color: white;
  background-color: transparent;
  border-radius: 5px;
}

#banner_p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--seconde-color);
  letter-spacing: 0.2px;
  height: 40px;
}

.glass_01 {
  background: rgba(255, 255, 255, 0.1);

  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(5px);
  height: 60px;
  width: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-right: 10px;

  position: absolute;
  top: 0;
  right: 0;
}
.glass_02 {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(5px);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  font-size: 1.5rem;
  margin-left: 10px;

  left: 0;
  height: 60px;
  width: 160px;
}

#red {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-left: 10px;
  font-size: 40px;
}

.ri-play-circle-fill {
  line-height: 40px;
  font-size: 25px;
  color: red;

  position: absolute;
  top: 0;
  left: 0;
}

/* make banner responsivee  */

@media (max-width: 776px) {
  #header {
    height: 520px;
    width: 100%;
    background-color: rgb(21, 21, 21);
  }

  /* start banner section */

  #banner_section {
    /* margin-top: -40px; */
    height: 440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }

  #banner_box_1 {
    height: 350px;
    width: 100%;
    color: white;
    /* border: 2px solid rgb(41, 158, 41); */
    display: flex;
  }

  #banner_img {
    height: 400px;
    width: 50%;
    /* border: 2px solid red; */
    background-image: url("./images/Images\ 2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 1em;
  }

  #banner_h2 {
    height: 370px;
    /* border: 2px solid yellow; */
    font-weight: 900;
    font-size: 3rem;
    color: var(--pothom-color);
  }

  #banner_button {
    height: 40px;
    width: 120px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: rgb(230, 83, 60);
    color: white;
  }

  #banner_button2 {
    height: 40px;
    width: 120px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid;
    color: white;
    background-color: transparent;
    border-radius: 5px;
  }

  #banner_p {
    font-weight: 400;
    font-size: 1rem;
    color: var(--seconde-color);
    letter-spacing: 0.2px;
  }

 
}

/* mobile */
@media (max-width: 576px) {
  #banner_section {
    flex-direction: column;
  }

  #header {
    height: 650px;
    width: 100%;
    background-color: rgb(21, 21, 21);
  }

  /* start banner section */

  #banner_section {
    margin-top: -40px;
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    /* border: 2px solid tomato; */
  }

  #banner_box_1 {
    height: 700px;
    width: 100%;
    color: white;
    /* border: 2px solid rgb(225, 255, 0); */
    display: flex;
    justify-content: center;
    align-content: left;
    flex-direction: column;
  }

  #banner_img {
    height: 550px;
    width: 90%;
    /* border: 2px solid red; */
    background-image: url("./images/Images\ 2.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 1em;
    overflow: hidden;
    margin:0 auto;
    object-fit: conta;
  }

  #banner_h2 {
    height: 150px;
    width: 90%;
    letter-spacing: -3.4px;
    /* border: 2px solid yellow; */
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--pothom-color);
    text-align: left;
    white-space: nowwrap;
    overflow: hidden;
    overflow-y: auto;
  }

  #banner_button {
    height: 40px;
    width: 120px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background-color: rgb(230, 83, 60);
    color: white;
  }

  #banner_button2 {
    height: 40px;
    width: 120px;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid;
    color: white;
    background-color: transparent;
    border-radius: 5px;
  }

  #banner_p {
    margin-top: -20px;
    height:70px;
    width:80%;
    font-weight: 400;
    margin-top: 5px;
    font-size: 0.9rem;
    color: var(--seconde-color);
    letter-spacing: 0.2px;
  }

  .nav {
    visibility: hidden;
    margin-right: -20px;
  }

  #fit {
    background-color: rgb(230, 83, 60);
    padding: 0.4rem;
    /* width:100%; */
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
  }

  .glass_01 {
    background: rgba(255, 255, 255, 0.1);

    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(5px);
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;

    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 10px;
  }

  .glass_02 {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    height: 40px;
    width: 140px;
    font-size: 1rem;
    margin-left: 10px;
  }

  #red {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-left: 10px;
    margin-top: 3px;
    font-size: 30px;
    font-size: 1.4rem;
  }
  .ri-menu-line {
    height: 40px;
    width: 40px;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 1rem;
  }
}

.ri-menu-line {
  visibility: hidden;
  height: 40px;
  width: 40px;
  color: rgb(255, 255, 255);
  display: flex;
}

/* start next step */
/* change your habbit */

#running_box {
  height: 250px;
  width: 100%;
}

#habbit_box {
  margin-top: 30px;
  height: 100px;
  width: 100%;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#habbit_h3 {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: white;
}

#habbit_p {
  color: rgb(179, 165, 165);
  font-size: 400;
  font-size: 1rem;
  letter-spacing: 0.2px;
}

@media (max-width: 776px) {
  #habbit_box {
    margin-top: 30px;
    height: 150px;
    width: 100%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #habbit_h3 {
    font-family: cursive;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    text-align: center;
  }

  #habbit_p {
    color: rgb(179, 165, 165);
    font-size: 400;
    font-size: 0.9rem;
    letter-spacing: 0.2px;
  }
}

@media (max-width: 576px) {
  #habbit_box {
    margin-top: 30px;
    height: 150px;
    width: 100%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5px;
  }

  #habbit_h3 {
    font-family: cursive;
    font-weight: 600;
    font-size: 2.3rem;
    color: white;
    text-align: center;
  }

  #habbit_p {
    color: rgb(179, 165, 165);
    font-size: 300;
    font-size: 0.8rem;
    letter-spacing: 0.2px;
  }

  .ri-menu-line {
    visibility: visible;
    height: 40px;
    width: 40px;
    color: rgb(255, 255, 255);
    display: flex;
  }
}

/* start four box */
#four_box {
  padding: 1em;
  margin: 5px;
  /* margin-top: 30px */
  height: 200px;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img_border {
  border-radius: 50px;
}

.p {
  color: rgb(136, 136, 136);
  font-size: 0.9rem;
  text-align: left;
  height: 30px;
  width: 100%;
  /* display: flex; */
}

@media (max-width: 576px) {
  #four_box {
    padding: 1em;
    margin: 5px;
    margin-top: 30px;
    height: 650px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .img_border {
    border-radius: 50px;
  }

  .p {
    color: rgb(136, 136, 136);
    font-size: 0.9rem;
    text-align: center;
    height: 30px;
    width: 100%;
    /* display: flex; */
  }
}

/* last img box one man running  */

.img {
  height: 250px;
  width: 100%;
  border-radius: 5px;
}

#box {
  margin: 0 auto;
  padding: 2em;
  height: 450px;
}

#running_box {
  margin: 0 auto;
  height: 400px;
  width: 90%;
  border: 2px solid rgb(11, 11, 11);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  border-radius: 6px;
  background-color: rgb(34, 34, 34);
  box-shadow: 4px 4px 4px black;
  border-radius: 5px;
}

#running_h2 {
  font-size: 900;
  font-size: 3rem;
  color: white;
}

#runnning_p {
  font-size: 400;
  font-size: 1rem;
  letter-spacing: 0.2px;
  color: rgb(122, 116, 116);
}

#running_button {
  height: 50px;
  width: 190px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  background-color: rgb(230, 83, 60);
}

@media (max-width: 776px) {
  #running_box {
    margin: 0 auto;
    height: 440px;
    width: 90%;
    border: 1px solid rgb(30, 28, 28);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    border-radius: 6px;
    background-color: rgb(34, 34, 34);
    box-shadow: 4px 6px 6px 6px rgba(10, 10, 10, 0.904);
    border-radius: 5px;
    flex-direction: column;
  }

  #running_h2 {
    font-size: 600;
    font-size: 2rem;
    color: white;
  }

  #runnning_p {
    font-size: 400;
    font-size: 0.9rem;
    letter-spacing: 0.2px;
    color: rgb(122, 116, 116);
  }

  #running_button {
    height: 30px;
    width: 130px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    background-color: rgb(230, 83, 60);
    color: white;
  }

  .img {
    height: 200px;
    width: 100%;
    border-radius: 5px;
  }
}

/* span font */
@font-face {
  font-family: miama;
  src: url(./ParadiseLove.ttf);
}

span {
  font-family: miama;
}

/* and size banner and font */

/* make bmi calclutor */
#main_box {
  margin-top: 900px;
  height: 350px;
  width: 100%;
  /* border: 2px solid red; */
  text-align: center;
}

#main_box2 {
  height: 320px;
  width: 100%;
  /* border: 2px solid green; */
  text-align: center;
}

#main_box3 {
  height: 310px;
  width: 100%;
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  flex-direction: row-reverse;
  text-align: center;

}

#box_input {
  height: 330px;
  width: 80%;
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  gap: 5px;
  text-align: center;
}
td{
  border:2px solid black;
}
input {
  padding: 0.6em;
  height: 50px;
  width: 100%;
  border: 1px solid black;
  background-color: transparent;
  color: white;
  font-weight: 600;
}

.input5 {
  grid-column: span 2;
}

#box_bmi {
  height: 300px;
  /* border: 2px solid red; */
  width: 80%;
  padding: 1em;
}

#mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tabel {
  height: 140px;
  width: 100%;
}
th{
  border:2px solid rgb(0, 0, 0);
  height:45px;
  color: white;

}
td {
  height: 45px;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em;
}

#input_button {
  height: 40px;
  width: 100%;
}

@media (max-width: 776px) {
  #main_box {
    margin-top: 1490px;
    height: 350px;
    width: 100%;
    /* border: 2px solid red; */
  }
}

#your_bmi {
  text-align: center;
  color: white;
  height:90px;
  width:100%;
  margin-top: -5px;


}

#your_bmi_h2 {
  font-size: 2rem;
  font-weight: 800;
}

#your_bmi_p {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(142, 140, 140);
}

@media (max-width: 576px) {
  #your_bmi {
    text-align: center;
    height:30px;

  }

  #main_box2 {
    margin-top: -40px;
  }

  #main_box3 {
    /* margin-top:30px; */
    margin-top: 220px;
    flex-direction: column-reverse;
    height: 340px;
    /* border: 2px solid red; */
    width: 98%;
  }

  #main_box {
    height: 620px;
    width: 100%;
    /* border: 2px solid rgb(64, 33, 33); */
    margin-left: 7px;
  }

  #box_input {
    margin-top: 20px;
    height: 590px;
    width: 100%;
    text-align: center;
  }

  #box_bmi {
    /* margin-top:100px; */
    height: 500px;
    /* border: 2px solid red; */
    width: 90%;
    padding: 1em;
    margin: 0 auto;
  }

  #your_bmi_h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  #your_bmi_p {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(142, 140, 140);
  }
  #input_button {
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
  }
  #input_bmi_las{
    height:80px;
    width:100%;
  }
  #h2_box{
    font-size: 1.2rem;
    margin:0 auto;
    height:30px;
    width:100%;
    text-align: center;
    margin-left: 80px;
  }
  #p_box{
    width:100%;
    text-align: center;
    margin-left:140px;
  }
  input{
    font-size: 1rem;
  }
}

/* subcription start */
#subcription_box {
  height: 200px;
  width: 100%;
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  padding: 1em;
}

#subcription {
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.sub_h2 {
  font-size: 2rem;
  font-weight: 600;
}

.sub_b {
  font-size: 1rem;
  font-weight: 500;
}

.sub_button {
  height: 50px;
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 6px;
  /* background-color: rgb(204, 20, 20); */
}

.sub_button:focus {
  background-color: transparent;
  border: 1px solid rgb(58, 56, 56);
}

@media (max-width: 576px) {
  #subcription {
    margin-top: 60px;
    flex-direction: column;
    height: 250px;
    width: 100%;
  }
  #sakib_h1{
    margin-top: 130px;
  }

  #subcription_box {
    height: 400px;
    width: 100%;
    margin-left: 5px;
    margin-top: 20px;


  }
  #guide{
    margin-top: 50px;
  }

  #sub_box,
  #sub_box2,
  #sub_box3 {
    padding: 1em;
    height: 80px;
    width: 100%;
    box-shadow: 4px 4px 4px rgb(49, 44, 44);
    border-radius: 5px;
  }

  .sub_h2 {
    font-size: 1.7rem;
    font-weight: 500;
    /* margin-top: 20px; */
  }

  .sub_b {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .sub_button {
    height: 40px;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 6px;
    /* background-color: rgb(204, 20, 20); */
  }
}

#sub_box,
#sub_box2,
#sub_box3 {
  padding: 0.5em;
  height: 150px;
  width: 100%;
  box-shadow: 4px 4px 4px rgb(49, 44, 44);
  border-radius: 5px;
}

#sub_box {
  background-color: rgb(230, 83, 60);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sub_box2 {
  background-color: rgb(66, 221, 4);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sub_box3 {
  background-color: rgb(0, 191, 197);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#guide {
  /* margin-top: 80px; */
  height: 60px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

/* last 2 section */
/* meet our team */

#meet_our_team {
  height: 720px;
  width: 100%;
  /* border: 2px solid white; */
  justify-items: center;
  padding: 1em;
  margin: 0 auto;
}

#team_head {
  height: 70px;
  width: 100%;
  /* border: 2px solid red; */
  text-wrap: wrap;
  text-align: center;
}

#team {
  height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 1em;
  margin: 20px;
}

#img_01 {
  height: 250px;
  width: 100%;
  background-image: url("./images/trainer1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#img_02 {
  height: 250px;
  width: 100%;
  background-image: url("./images/trainer2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* background-position: center; */
}
input{
  font-size: 1.2rem;
  border:2px solid black;
}
select{
  border:2px solid black;
  font-size: 1.2rem;
}
#img_03 {
  height: 250px;
  width: 100%;
  background-image: url("./images/trainer3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#img_04 {
  height: 250px;
  width: 100%;
  background-image: url("./images/trainer4.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#img_05 {
  height: 250px;
  width: 100%;
  background-image: url("./images/trainer5.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#img_06 {
  height: 280px;
  width: 100%;
  background-image: url("./images/trainer6.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* problem + img  */
.team_h2_color{
  text-align: center;
  color:rgb(235, 234, 234);
  font-size: 1.8rem;
  margin-top: -20px;

}
.name{
  font-size: 1.4rem;
  color:rgb(0, 0, 0);
  display: grid;
  place-content: center;
  font-weight: 500;
  margin-top: -10px;
  font-weight: 600;
}
/* how make all imge height width same */
@media (max-width: 576px) {
  #team {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    /* img center */
  }
  .name{
    color:blanchedalmond;
    margin-top: -1px;
  }

  #meet_our_team {
    height: 1680px;
    width: 100%;
    margin-left: 5px;
    margin-top: 20px;
  }
  .team-member{
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;


  }
  #img_06 {
    height: 250px;
  }
  #img_03 {
    height: 220px;
  }
  input{
    font-size: 1rem;
    border:2px solid black;
  }
  select{
    border:2px solid black;
    font-size: 1rem;
  }
  .team_h2_color{
    font-size: 1.2rem
  }
  
}

.team-member {
  height: 250px;
  width: 100%;
  /* border: 2px solid red; */
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 10px;
}

/* how make 576px width all img center */
/* last footer */
#last_footer {
  height: 250px;
  width: 100%;
  /* border:2px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
}

#last_fit {
  height: 80px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

#last_get {
  height: 120px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

#last_start {
  height: 120px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
  flex-direction: column;
}

.ok {
  list-style: none;
  margin-top: 10px;
  color: rgb(150, 147, 147);
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 576px) {

  #last_footer {
    grid-template-columns: repeat(1, 1fr);
    height: 550px;
    text-align: left;

  }

  #twostarted{
    text-align: left;

  }
  
  
  
 
}

/* input 4 */
.input4 {
  background-color: transparent;
  color: rgb(145, 141, 136);
}

.input5 {
  height: 50px;
}

#line {
  height: 40px;
  width: 80%;
  border-top: 2px solid rgb(0, 0, 0);
  text-align: center;
  margin: 0 auto;
}

/* box team footer problem solve */

/* change  */
#fit_color {
  color: rgb(230, 83, 60);
}

/* input_button cal button */

#input_button {
  background-color: rgb(230, 83, 60);
  border: none;
  font-size: 1.1rem;
  color: white;
  font-weight: 600;

  border-radius: 4px;
}


/* not update problem face  */

#right{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.last_p{
    border-top: 1px solid rgb(212, 203, 203);
    color:white;
}


/* input_bmi_last */
#input_bmi_last{
  height:50px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}


